<p id="notice"><%= notice %></p>

<p>
  <b>Walk:</b>
  <%= @walk_point.walk_id %>
</p>

<p>
  <b>Description:</b>
  <%= @walk_point.description %>
</p>

<p>
  <b>Lat:</b>
  <%= @walk_point.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @walk_point.lon %>
</p>


<%= link_to 'Edit', edit_walk_point_path(@walk_point) %> |
<%= link_to 'Back', walk_points_path %>
