<%- model_class = Walk -%>
<div class="page-header">
  <h1>Recent Walks</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>From</th>
      <th>To</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @walks.each do |walk| %>
      <tr>
        <td><%= link_to walk.name, walk_path( walk ) %></td>
        <td>
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= walk.walk_points.first %>&zoom=16&size=150x100&sensor=false&markers=color:blue%7Clabel:S%7C<%= walk.walk_points.first %>" /><br />
          <%= walk.walk_points.first %>
        </td>
        <td>
          <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= walk.walk_points.last %>&zoom=16&size=150x100&sensor=false&markers=color:red%7Clabel:E%7C<%= walk.walk_points.last %>" /><br />
          <%= walk.walk_points.last %>
        </td>
        <td><%=l walk.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
<%= paginate @walks %>
</p>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_walk_path,
            :class => 'btn btn-primary' %>
