<h1>Listing walks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Song link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @walks.each do |walk| %>
  <tr>
    <td><%= walk.name %></td>
    <td><%= walk.song_link %></td>
    <td><%= link_to 'Show', walk %></td>
    <td><%= link_to 'Edit', edit_walk_path(walk) %></td>
    <td><%= link_to 'Destroy', walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Walk', new_walk_path %>
